<!DOCTYPE html>
<html lang="en">
	<head>
		<% include partial/head.ejs %>
	</head>
	<body>
		<% include partial/Header.ejs %>
	<div class="container">
	  <div class="row">
		<div class="col-md-12"> 
		  <div class="panel">
			<div class="panel-body">
			  <!--/stories-->
		      <% for(var i=0; i<authors.length;i++){%>
			  <div class="row">    
				<br>
				<div class="col-md-2 col-sm-3 text-center">
				  <a class="story-title" href="#"><img alt="" src="/images/<%= authors[i].image %>"  style="width:100px;height:100px" class="img-circle"></a>
                    <h4><span class="label label-default"><a href="/Authors/<%=authors[i]._id%>"><%=authors[i].name%></a></span></h4><h4>
                    
				</div>
                <div><span> <%= authors[i].description %> </span></div>
			  </div>
			  <hr>
			  <%}%>
 			  <!--/stories-->
			  <a href="/" class="btn btn-primary pull-right btnNext">More <i class="glyphicon glyphicon-chevron-right"></i></a>
			</div>
		  </div>
		</div><!--/col-12-->
	  </div>
	</div>
	<hr>
		<% include partial/Footer.ejs %>
</body>
</html>